In [1]:
import pandas as pd

In [3]:
print('I\'m Prachi!')

I'm Prachi!

In [ ]:
#Variables 
#1. For boolean use True not true 
#2. 4.0 is same as 4. 

print (4.0)
print(4.)

#######################################################
#######################################################
var1 = 'greeting'
var2 = 'Greeting'
#these are diff variable thus variables are case sensitive

In [163]:
list = [ False,True, "2", 3,4,5]
#b = list[0] 
#b = 0 not in list
b = 0 in list
#b = False
print(b)

#thus 0 & false are same///1 & True are same

False

In [165]:
#Tuples are ordered collection of elements & is immuatble (we cannot perform any modifications to the elements) 
tuple = (2, 3)
#tuple[1] = tuple[1] + tuple [0]
print (tuple)

(2, 3)

In [175]:
x = [0,1,2] 
x.insert(0,1)
print(x)

del x[1]
print(x)

[1, 0, 1, 2]
[1, 1, 2]

In [177]:
list1 = [1,3] 
list2 = list1
print(list1) 
print(list2)

list1[0] = 4
print(list1)
print(list2)

#In the above case both list1 & list2 points to same location in memory thus any change made in list1 will be reflected in list 2

[1, 3]
[1, 3]
[4, 3]
[4, 3]

In [193]:
#SLICING
A = ["PETER", 404, 3.03,"PRACHI" ,33.3]
print(A[1:3])
#n:N-1

#######################################################

a = [1,2,3,4,5,6,7,8,9]
print(a[::2])
print(a[::3]) #will print list with set3p = 3 (will print 3rd element)
print(a[::1]) # will print list with step =1 
print(a[::]) # will print whole list

[404, 3.03]
[1, 3, 5, 7, 9]
[1, 4, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [195]:
#DICTONARY
dct ={}
dct['1'] = (1,2)
dct['2'] = (2,1)
print(dct)

for x in dct.keys():
    print(dct[x][1])

{'1': (1, 2), '2': (2, 1)}
2
1

In [201]:
#DICT: QUESTION 
d ={}
d[1] = 1
print(d)

d['1'] = 2
print(d)

d[1] += 1
print(d)

sum = 0 
for k in d: 
    sum = sum + d[k]
print(sum)

{1: 1}
{1: 1, '1': 2}
{1: 2, '1': 2}
4

In [197]:
#NUMBER SYSTEM 
#octal number - begins with 0O. Only can use 1 -7. 
print(0O123)

#######################################################

#hexadecimal numbers - beigns with 0X or 0x
print(0x12345) #print function will convert to decimal numbers

83
74565

In [203]:
#Operators 

div = 7/2
mod = 7%2 #will print remainder 
pow = 2**3
ex = 7//2 ## // will print the divison to lowest integer 
print(div)
print(mod)
print(pow)
print(ex)

3.5
1
8
3

In [205]:
len('prachi')

6

In [207]:
#Keyword arguments / Named arguments
# can be used at the end of function location (eg. end). They are optional and must have defualt values. 
print('Prachi is 27 years old', end = '.')

print('Prachi & Megha are', 'sisters', sep = '-')

Prachi is 27 years old.Prachi & Megha are-sisters

In [ ]:
#bit operators 
1 byte = 8 bits 
1 kilobyte(kb) = 1000 bytes = 8000 bits or (1024) bytes 
1 megabyte(mb) = 100000 bytes = 8000,000 bytes(8million) 

#6 bitwise opeators 
first = 1 
second = 0

In [209]:
#6 bitwise opeators 
first = 1 
second = 0 
print(first, second)
print(first & second) #AND operator (both should be 1)
print( first | second) #OR operator (atleast 1 should be 1) 
print( first ^ second) #carat(logical xor) 
#XOR truth table 
#0 0 = 0 
#1 1 = 0 
#1 0 = 1
#0 1 = 1
print(~first) #~ = -x-1 this is NOT

1 0
0
1
1
-2

In [211]:
#left shift 
print(12<<1) # multiply by 2 
print(12<<2) # multiply by 4 
print(12<<3)# multiply by 8

24
48
96

In [213]:
#right shift 
print ( 12>>1) #og value divided by 2 
print ( 12>>2) # divide by 2 means divide by 4 
print ( 12>>3) #divide by 8 
print ( 12>>4)

6
3
1
0

In [215]:
#while loop 
count = 1
while count<11:
    print(count)
    count = count+ 1
print(count)

i = 1 
for i in 10: 
    i = i+1
    print(i)

1
2
3
4
5
6
7
8
9
10
11

TypeError: 'int' object is not iterable

In [221]:
#for loop
i = 0
for i in range(0,10): 
    i = i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [223]:
for letter in 'Prachi':
    print(letter)

P
r
a
c
h
i

In [225]:
for i in range(1,10): 
    pass

In [227]:
# in loop else will be printed once (exception is break statement) 
i = 5
if i<5:
    print(i)
    i = i+1 
else: 
    print('else', i)

else 5

In [229]:
i = 0
while i <= 10:
    i += 1
    if i % 2 == 0:
        break
    print('*')

*

In [235]:
x = 1
x = x == x

print(x)

True

In [237]:
a = 5
b = 1
c = a > b or b < a and a == 1
print(c)

True

In [239]:
for i in range (1, 12): 
    if i% 4 ==0 :
        continue
    print(i, end = '-')

1-2-3-5-6-7-9-10-11-

In [241]:
#lists: multiple values of same type - numbering start at 0 
list1 = []
list1 = [1,2,3,4,5]
print (list1)

list2 = ['Prachi','Megha']
print(list2)

print (list1[0])
print (list2[0])

print(list1[-1]) #we can use -ve numbering - 1 will get the last element 
print (list1[:2])
print (list1[2:])
print(list1 [0:2]) # second number is excluded n-1 


print(list2[0]) # this will fetch us the value of the list
print(list2[0:1]) #if we slice it will fetch us a list of the value

[1, 2, 3, 4, 5]
['Prachi', 'Megha']
1
Prachi
5
[1, 2]
[3, 4, 5]
[1, 2]
Prachi
['Prachi']

In [243]:
#deleting 
list3 = ['Prachi','Megha','Saurabh']
del list3[0]
print(list3)

['Megha', 'Saurabh']

In [247]:
#if we dleete a list and then try to print it - it will show an error 
del list3 
print(list3)

NameError: name 'list3' is not defined

In [249]:
#add neew element 
list1.append(6)
list1

[1, 2, 3, 4, 5, 6]

In [251]:
#append
i=0
list_new = [1, 2, 3, 4, 5, 6]
for i in range(6,10):
    i = i+1 
    list_new.append(i)
print(list_new)
#methods are function that belong to specific data -> append is a method that belongs to list_new

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [253]:
#Insert - it helps us insert a value at given index 
list_new.insert(0,0)
print(list_new)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [255]:
lo = ['Soro', 'Sona', 'Bubu', 'cutu']
for x in range(len(lo)):
    print (x) 
#this will print the index position of list

0
1
2
3

In [257]:
lo = ['Soro', 'Sona', 'Bubu', 'cutu']
for x in lo:
    print (x) 
#this will print the actual eelemnts of a list

Soro
Sona
Bubu
cutu

In [259]:
for i in range(len(lo)):
    print('Index is', i, 'Elemet at index is', lo[i])
    #print(lo[x])

Index is 0 Elemet at index is Soro
Index is 1 Elemet at index is Sona
Index is 2 Elemet at index is Bubu
Index is 3 Elemet at index is cutu

#Coding questions

In [261]:
#sum all elemnets of a list 
li_sum = [1,2,3,4,5,6,7,8,9]
sum = 0
for i in range(len(li_sum)):
    sum = sum +i 
print(sum)

36

In [263]:
#largest element of list 
li_sum = [1,2,3,4,5,6,7,8,9]
max = li_sum[0]

for i in range(len(li_sum)+1):
    if i >  max:
        max = i 
print(max)

9

In [ ]:
#Count Occurrences of an Element 
li_o = [1,2,2,3,4,5,5,5,6,7]
count = 0

for i in li_o:
    if i == 5:
        count = count + 1
print(count)

In [ ]:
#Count Occurrences of all Element 
li_o = [1,2,2,3]
c_1 = 0 
c_2 = 0 
c_3 = 0 

for i in li_o:
    if i == 1:
        c_1 = c_1 + 1 
    elif i ==2:
        c_2 = c_2 + 1 
    elif i ==3:
        c_3 = c_3 + 1 

print(c_1)
print(c_2)
print(c_3)

In [ ]:
#Print count of Only Even Numbers from a List
li_o = [1,2,2,3]
count = 0
for i in li_o:
    if i % 2 ==0 :
        count = count+1
print(count)

In [ ]:
#Print Only Even Numbers from a List
li_o = [1,2,2,3]
for i in li_o:
    if i % 2 ==0:
        print(i)

In [ ]:
#Filter Out Negative Numbers and print the same list with +ve values only 
n = [1,-1,2,-2,3,-3]
for i in n:
    if i < 0:
        #del i 
        n.remove(i)
print(n)

In [ ]:
#Using list comprehension - filter out negative values 
n_1 = [1,-1,2,-2,3,-3]
n_1 = [i for i in n_1 if i>0]
print (n_1)

In [ ]:
#Calculate the Average of List Elements
av = [1,2,4,5]
length = len(av)
sum = 0

#to find sum of all elemets
for i in av:
    sum = sum+i

avg = sum/length
print('The avg is',avg)

Identify dupliactes in a List

In [ ]:
#Identify and Remove Duplicates - method 1 
d = [1,1,2,3,3,4,5,5,5]
unique = []

for i in d:
    if i not in unique:
        unique.append(i)
print(d)
print(unique)

In [ ]:
#Identify and Remove Duplicates - method 2
d_1 = set(d)
print(d_1)

In [ ]:
#method 3: using while loop and reversing 
df = [1,1,2,3,3,4,5,5,5]
df.sort()
print(df)
i = len(df) -1 
print(i)

while i > 0:
    if df[i] == df[i-1]: 
        del df[i] 
    i = i-1
print(df)

In [ ]:
#Print Elements Greater Than a Given Number
gn = [10,1,5,2,8,6,9] 
gn.sort()

try: 
    compare = int(input("Enter a number"))
    found = False
    for i in gn:
        if i > compare: 
            print(i)
    if not found: 
        print("No elemts are gerater")
except ValueError:
    print("Please enter a valid integer.")

In [ ]:
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]

count_low = 0 

for i in spendings:
    if i< 1000.0:
        count_low = count_low+1 

print(count_low)

In [ ]:
#Swap
a = 10 
b = 20 

a,b = b,a #this can be use dto swap numbers 
print(a)
print(b)

In [ ]:
# Define two numbers
a = 10
b = 20

# Swap the numbers using a temporary variable
temp = a
a = b
b = temp
print(a) 
print(b)

In [ ]:
#sorting sorted by asc 
random = [-1, 44, 2, 5] 
random.sort()
print(random)

#sorting sorted by desc
random1 = [-1, 44, 2, 5, 0] 
random1.sort(reverse = True)
print(random1)

#SORT - will sort the original list 
#SORTED - will create a new list that is sorted and maintain the original list

In [ ]:
#IN operator will check for every element in teh string 
for i in 'Prachi':
    print(i)

In [ ]:
invited_list = ['Prachi', 'Soro', 'Sona'] 
name = input('What is your name?')
if name in invited_list:
    print('Your are invited', name) 
else:
    print('You are not invited',name)

In [ ]:
#copy list 
list_og = [1,2,3]
list_new = list_og 
list_og[0] = 0 
print(list_og)
print(list_new)

#if you chnage original list any list copied from that list will change too
#this happens because name of oglist points to the memory location (they are called refrences) 

#if you wnat to miantain an orginal list and not let any changes in og list hamper teh copied list - use slicing 
og = [1,2,3,4]
new = og [:]
og [0] = 5 
print(og)
print(new)

#LIST COMPREHENSIONS

In [ ]:
#numbers = [1,2,3,4,5,6] 
numbers = []
for i in range (1,100):
    numbers.append(i)
print(numbers)

In [ ]:
#this is list comprehension 
numbers = [i for i in range(1,101)]
print(numbers)

In [ ]:
numbers1 = [i for i in range(1,101) if i%3 ==0]
print(numbers1)

#NESTED LISTS

In [ ]:
NO = [1,2,'UK']
NO = [1,2]
NO = ['USA','UK']
multiple = [[1,2],[3,4]] #this list has 2 elements which are 2 lists

# this will return a sub list
multiple[0] 

#to access the first elemnt of a list->sub_list
print(multiple [0][0]) 
print(multiple [0][1])

In [ ]:
for i in multiple:
    print(i)

In [ ]:
#to acesss nested lists 
for i in multiple:
    for y in i: 
        print(y)

In [ ]:
#to astore ecah element of sublist in a new list 
multiple_new = []
for i in multiple:
    for y in i: 
        multiple_new.append(y)
print(multiple_new)

In [ ]:

new_a = [[i for i in range(1,6)] for j in range(4)]
print(new_a)

In [ ]:
new = []
innerlist =[]
for j in range(4):
    innerlist =[]
    for i in range(1,6):
        innerlist.append(i)
    new.append(innerlist)
print(new)

In [ ]:
#you can add & multiply the list
sum = [1,2]
sum = sum*2 
print(sum)

us =['ny','atl']
uk =['lol','scott']
usuk = us+uk
print(usuk)

In [ ]:
#String 
band = 'Cold Play'
print(band[8])

#we cannot use slicing to change specific cahrcters but only to extrcat 
print(band[:6])

In [ ]:
name = 'Prachi'
c = name.capitalize() #make steh first letter uppercase 
print(c)

v = name.casefold() #all smallcase 
print(v)

b = name.count('Prachi') #counts teh occurences of a string 
print(b)

n = name.endswith('i') #checks if the string ends with a certain character 
print(n)

m = name.upper() #makes capslock 
print(m)

l = name.isnumeric() 
print(l)

In [ ]:
#Check if inpyt is a number

In [ ]:
#using function
num = input('Enter a number')
if num.isnumeric():
    print('It is a number')
else:
    print('Not a number')

In [ ]:
#using try except block 
def num(input_num):
    try:
        float(input_num) 
        print('It is a number')
    except ValueError: 
        print('Not a number')
        
input_num = input('Enter a number')
num(input_num)

In [ ]:
#reverse a list - method 1 
kl = [1,2,3,4,5]
new_kl = kl[::-1]
print(new_kl)

In [ ]:
def list_rev(arr,size): #method 2
    i = 0 
    while i < (size//2):
        arr[i],arr[size -i - 1] = arr[size - i-1],arr[i]
        i= i+1
        return arr 
        
arr = [1, 2, 3, 4, 5]
size = 5
print('Original list: ', arr)
print("Reversed list: ", list_rev(arr, size))

#Explanation 
#first we need an array & its size 
#Next, we need to stop running the loop once we have rechaed teh midpoint of the list 
#Next, add logic for swapping -> arr[i],arr[size -i - 1] = arr[size - i-1],arr[i]
#Next, increment i

#Bubble sort

In [ ]:
#BUBBLE SORT
def bubble(list):
    length_list = len(list) -1 #the reaosn we do -1 is beacus eteh last element wont ahve anything to comare to 
    sorted = False 
    
    while not sorted: 
        sorted = True 
        for i in range(0,length_list):
            if list[i] > list [i+1]: 
                sorted = False 
                list[i], list[i+1] = list[i+1], list[i]
            
    return list           


list = [30,22,25,2,1,90]
bubble(list)

In [ ]:
#SELECTION SORT 
def selection(list1):
    min = list[0] 
    length_list1 = len(list1)
    list2 = []
    
    for i in range(0, length_list1):
        if list1[i]<min:
            list2.append(i) 
        else
        




list1 = [4,8,2,1,30]
selection(list1)

In [ ]:
#tuples - they are immuatble and (), ordered elements, can store diff types of elements 
y = (1,1,2,3)
y1 = ('Hello', 2, 3)
print(y)
print(y1)

x = (1) #this treats it as a value 
x1 = (1,) #this will treat it as a tuple, thus adding a comma is must 
print(x)
print(x1)

In [ ]:
w = (1,2,3,5,6)
print(w[0])
#w[0] = 100 we cannot change

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t3 = t1 + t2
print(t3)

In [ ]:
t1 = (1, 2, 3)
print(t1 * 2)

In [ ]:
t = (1, 2, 3)
a, b, c = t
print(a, b, c)

In [ ]:
ty = (1,2,3,3)
print(2 in ty)

print(ty.count(3))

In [ ]:
tu = ('Prachi', 'soro', 'megha')
if 'Prachi' in tu:
    print('Hi Prachi')

In [ ]:
tu = ('Prachi', 'soro', 'megha')
for i in tu:
    print(i)

In [ ]:
connections = [
    ('Amsterdam', 'Dublin', 100),
    ('Amsterdam', 'Rome', 140),
    ('Rome', 'Warsaw', 130),
    ('Minsk', 'Prague', 95),
    ('Stockholm', 'Rome', 190),
    ('Copenhagen', 'Paris', 120),
    ('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),
    ('Dublin', 'Rome', 170),
    ]
sum = 0 
for x in connections: 
    for y in x:
        if y =='Rome':
            sum = sum + 1
print(sum)

In [ ]:
count = 0
for x in connections:
    if x[1] =='Rome':
        count = count + 1
        sumx = x[2] + sumx
print('Filghts to rome:', count)
print('Avg flight time to rome:',count/sumx)

In [ ]:
#min & max 
def min(list):
    min = lo[0]
    
    for i in list:
        if i < min:
            min = i
    return min         

list = [5,1,2,3,4]
min(list)

In [ ]:
def findmax(list2):
    max = list2[0]
    for i in list2:
        if i >max:
            max = i 
    return max
    
list2 = [100,400,20,600]
findmax(list2)

In [ ]:
#minmax in same function, return more than 1 variable using comma
def maxmin(lk):
    lk.sort()
    min  = lk[0] 
    max = lk[-1] 
    return min, max 

lk = [23,43,11,80]
min, max = maxmin(lk)
print(f"Minimum: {min}, Maximum: {max}")

In [ ]:
#Duplicate
lkp = [23,43,11,80,80]
lkp_k = []
lkp_repeat = []
for i in lkp:
    if i not in lkp_k:
        lkp_k.append(i)
    else:
        lkp_repeat.append(i)

print(lkp_k)
print(lkp_repeat)

In [ ]:
#flaten nested list

In [ ]:
#Dict are mutable
#List can't become a key in a Dictionary : because List is immutable
#List can be  value in a Dict 
#ordered collections 

grades = {'John': 'A', 'Prachi': 'B'}
grades ['Megha'] = 'C'
print(grades)
grades ['Megha'] = 'A+'
print(grades)

#using Update 
grades.update({'John': 'A+'})
print(grades)

#length of dict 
len(grades) 

#to check if a key exists
if 'John' in grades:
    print("John is present")

else :
    print("Not present")

#to delete 
del grades ['John']
print(grades)

In [ ]:
grades

In [ ]:
#if we iterate using for loop we will get KEY 
for i in grades: 
    print (i)

In [ ]:
# we can use .keys() method
for i in grades.keys():
    print(i)

In [ ]:
# we can use .values() method
for i in grades.values():
    print (i)

In [ ]:
for i, j in grades.items():
    print(i,j)

In [ ]:
sample_dict = {
    "mouth": "Mund",
    "finger": "Finger",
    "leg": "Bein",
    "hand": "Hand",
    "face": "Gesicht",
    "nose": "Nase"
}
sample = input('Enter a word in English or EXIT')

if sample in sample_dict:
    print(sample_dict[sample])

In [ ]:
list_a = [1, 2, 3]
list_b = list_a[-2:-1]
list_c = list_a[-1:-2]

print(list_b)
print(list_c)

In [ ]:
temp_list = [1, 2, 3]
for i in range(len(temp_list)):
    temp_list.insert(i, 0)
print(temp_list)

In [ ]:
my_numbers = [[i for i in range(3)] for j in range(4)]
print(my_numbers)

In [ ]:
values = [[3 - x for x in range(2)] for y in range(5)]
 
sum = 0.0
for row in values:
  for cell in row:
    sum += cell
 
print(sum)

In [ ]:
values = [[3 - x for x in range(2)] for y in range(5)]
print(values)

In [ ]:
integers = [1, 4, -2]
print(integers[integers[-1]])

In [ ]:
my_vals = [1, 2, 3, 4, 5]
my_vals[1], my_vals[2] = my_vals[2], my_vals[1]
my_vals

In [ ]:
list_a = [0, 1, 2, 3]
list_b = [3, 4, 5, 6]
for el in list_a:
  if el in list_b:
    print('*')

In [ ]:
my_list = [0, 1, 2] * 3 
my_list
my_list = my_list + [0]
my_list

In [ ]:
fav_band = 'Green Day'
fav_band[6] = 'M'
#coz strings are immuatble

In [ ]:
no = 1,2,3
print(type(no))

In [ ]:
#User defined functions 
def greet():
    print('Hi there!')
greet()

In [ ]:
#functions with parameters 
def count(str,letter):
    count = 0 
    for i in str:
        if i == letter:
            count = count+1
    return count

count('prachiiii','i')

In [ ]:
#Default parameter values 
#sep: default value is space char 
#end: default value is new line
#in the function call specify the lettter that wil be the default 

def count(str,letter = 'a'):
    count = 0 
    for i in str:
        if i == letter:
            count = count+1
    return count

count('prachiiii')

In [ ]:
def count(str = 'search',letter = 'a'):
    count = 0 
    for i in str:
        if i == letter:
            count = count+1
    return count

count()
#positional arguments must appear first and then teh named arguments (in the function definition and the function call both)
#count(letter = 'a', 'Prachiiii') #this will throw error

In [ ]:
#Name scope 

#this is called Shadowing - the global variable & local variable 
# local variable shodows the global variable 
# they are basiclaly 2 variables 
def show():
    a = 15
    print(a)
a= 10
print(a)
show()
print(a)

#if we wnat to explicilty not use SHADOWING - we will mention global keyword before var_name 
#so in this case it will be global a 
def show():
    global a
    print(a)

In [ ]:
#SHADOWING IN CASE OF LISTS & dict (not applicable to tuples - sinc ethey are immuatble)
def show1():
    a1.append('Element2') 
    #here we are not using equals(=) operator, which menas we did not create a local verison of teh operator
    #in the case-> will refer to Global variable & will modify the global list 
    print(a1)


a1 = ['Element1']
print(a1)
show1()
print(a1)

NONE

In [ ]:
#NONE
#functions can 1. Cause some effect & 2. Return some value 
print() #-> causes some effect
len() #returns a value 
input() #does both

In [ ]:
print_return = print('Hello!')
print(print_return)
#None = null value/no value/ is not a empty string

In [ ]:
x = None 
if x is None:
    print('yes')
if x == None: 
    print('yes this works too')

In [ ]:
def g():
    print('Hmm')

x = greet()
#if we try printing out the variable that stores the return value of a function ->it will return a NONE value 
print(x)

In [ ]:
#REMOVE DUPLICATE ELEMENTS 
def dup(list1):
    unique = []
    for i in list1:
        if i not in unique:
            unique.append(i)
    print (unique)
        
list1 = [1,2,2,3]
dup([1,2,2,3])

In [ ]:
#Recursionn - a fuction taht calls itself

In [ ]:
#factorial 
n =3
result = 1
for i in range(1,n+1):
    result = result * i 
print(result)

In [ ]:
def rec(a):
    if a <=1:
        return 1
    return a *rec(a-1)

rec(3)

In [ ]:
#generators - when we want to return a lot of values 1 by 1 
# it will remember teh last value returned and then provide us with netx value whenever called 
def no():
    for i in range(1,4):
        yield i
        
ans = no()
print(ans)
print(next(ans))
print(next(ans))
print(next(ans))

In [ ]:
#print values of generator using loop
for x in no():
    print(x)

In [79]:
#convert the output to a list 
def no():
    for i in range(1,4):
        yield i
        
abc = list(no())
print(abc)

[1, 2, 3]

In [91]:
l = [1,2,3]
ans = 0 not in l
print(ans)

True

In [93]:
#This wiull overwrite
l1 = [2,3]
l1[0] = 0
print(l1)

[0, 3]

In [99]:
dct = {}
dct['1'] = (1,2)
dct['2'] = (2,1)
for i in dct.keys():
    print(dct[i][1], end = '')

21

In [101]:
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

In [109]:
d = {}
d[1] = 1
print(d)

d ['1'] = 2
print(d)

d[1] = d[1] + 1
print(d)

sum = 0 
for k in d:
    sum = sum +d[k]
print(sum)

{1: 1}
{1: 1, '1': 2}
{1: 2, '1': 2}
4

In [113]:
dc = {'one':'two', 'three':'one', 'two':'three'} 
v = dc['one'] #this will print the value 
print(v)

for k in range(len(dc)):
    v = dc [v]
print(v)

two
two

In [119]:
#AN EXCEPTION IS AN EVENT THAT OCCURS DURING THE EXECUTION OF A PROGRAM AND DISRUPTS TEH NORMAL FLOW 
if True:
    print("Hello")

Hello

In [131]:
try:
    a =int(input('Enter a number'))
    b = 1/a
    print(a)
except ValueError:
    print('You did not provide a integer')
except ZeroDivisionError:
    print('Div by 0 is not possible')
except:
    print('unknown')

Enter a number .

You did not provide a integer

In [ ]:
#60 built in exceptions

In [265]:
import sys 
user = input('Enter a name')
if user =='':
    print('Invalid Input')
sys.exit()

Enter a name k

SystemExit:

In [149]:
#exceptions are propogated through function sin Python 
def inverse(op):
    assert (op!=0), 'Got 0 as denominator!'
    r = 1/op
    print(r)

inverse(5)

#ASSERTIONS: THEY ARE USED TO DEBUG,TEST CODE & DOCUMENTING 
#DO NOT: HANDLE ASSERTIONS IN TRY EXCEPT & DO NOT USE THIS TO VALIDATE USER INPUT

0.2

In [151]:
def show():
    print(val + 1, end='')
 
val = 5
show()
print(val)

65

In [155]:
def a (u=0):
    print(u)

a()

0

In [277]:
values = [1,2,3,4]
for i in values:
    if i == 5:
        print ("Found it!")
        break
else:
    print ("Nowhere to be found. :-(")

Nowhere to be found. :-(

In [305]:
#if we are not sure of number of argumets = add * 
def kids(*args):
    for i in args:
        print(i,  end = '')

kids('Prachi','Megha')

PrachiMegha

In [307]:
#POSITIONAL ONLY ARGUMENTS -> ,/
def my_function(x, /):
  print(x)

my_function(3)


#KEYWORD ONLY ARGUMENT -> *,
def my_function(*, x):
  print(x)

my_function(x = 3)

3
3

In [439]:
#DICTONARY
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

############### ACCESSING DICTS ############### 
x = thisdict['brand']
print(x)

x_new = thisdict.get('brand')
print(x_new)

x_new1 = thisdict.keys()
print(x_new1)

x_new1 = thisdict.values()
print(x_new1)

#we can change the value of a key 
thisdict['brand'] = 'fooord'
print(thisdict)

#add a new key 
thisdict['color'] = 'red'
print(thisdict)

# to fetch every key-value apir and return as a tuples in a list 
thisdict.items()

#change existing Keys value
thisdict['year'] = '2024'
print(thisdict)

#to check if a key exists 
if 'year' in thisdict:
    print('Key: Year exsists')

#to check if value exists 
value = 'Mustang' 
if value in thisdict.values():
    print('The following value exsist: ',value)


############### CHANGE IETMS IN DICTS ############### 
#1. UPDATE 
thisdict.update({'year': '2025'})
thisdict['year'] = '2025'

############### REMOVE IETMS IN DICTS ############### 
#2.POP
thisdict.pop('color')
print(thisdict)

#3.DEL
del thisdict['year']
print(thisdict)

#4.clear - will empty out teh dict 
#thisdict.clear()
#print(thisdict)

############### LOOP THROUGH DICTS ############### 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#Method 1 : to fetch keys 
for i in thisdict:
    print(i )
for keys in thisdict.keys():
    print (keys)

#Method 2: To fetch values 
for y in thisdict:
    print(thisdict[y])
for values in thisdict.values():
    print(values)

for a,b in thisdict.items():
    print(a,b)


############### COPY DICT ############### 
#method 1 
thisdict_new = thisdict.copy()
print(thisdict_new)

#method 2
thisdict_new_01 = dict(thisdict)
print(thisdict_new_01)

############### SET ############### 
fruits = {'apple', 'cherry', 'grapes'}
type(fruits)

############### NESTED DICT ############### 
dict1  = {'name':'Prachi', 'age':27}
dict2  = {'name':'Megha', 'age':20}
dict_details = {'child1': dict1
                , 'child2':dict2}
print(dict_details)

#Question: print the name of second child 
print(dict_details['child2']['name'])

#loop through nested dict 
for i,j in dict_details.items():
    print(i,j)
    for k in j:
        print(j[k])


############### METHODS ############### 
#keys()
#values()
#items()
#clear()
#del 
#pop()
#popitem()
#get()
#update()

Ford
Ford
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
{'brand': 'fooord', 'model': 'Mustang', 'year': 1964}
{'brand': 'fooord', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
{'brand': 'fooord', 'model': 'Mustang', 'year': '2024', 'color': 'red'}
Key: Year exsists
The following value exsist:  Mustang
{'brand': 'fooord', 'model': 'Mustang', 'year': '2025'}
{'brand': 'fooord', 'model': 'Mustang'}
brand
model
year
brand
model
year
Ford
Mustang
1964
Ford
Mustang
1964
brand Ford
model Mustang
year 1964
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'child1': {'name': 'Prachi', 'age': 27}, 'child2': {'name': 'Megha', 'age': 20}}
Megha
child1 {'name': 'Prachi', 'age': 27}
Prachi
27
child2 {'name': 'Megha', 'age': 20}
Megha
20

In [441]:
#SETS

thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)
#TRUE = 1 
'''
methods 
1. thisset.remove('apple') #if value does not exists = this will throw an error, but discard() will not 
2. thisset.discard('apple')
3. thisset.pop('apple') #this will remove any randon element 
4. thissset.clear() #this will empty the set 
5. del thisset #this will delete the entire set 
'''

{True, 2, 'cherry', 'apple', 'banana'}

In [455]:
'''
Note:
#6.The union() and update() methods joins all items from both sets.
#7. The intersection() method keeps ONLY the duplicates.
#8.The difference() method keeps the items from the first set that are not in the other set(s).
#9.The symmetric_difference() method keeps all items EXCEPT the duplicates.
'''
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

set4 = set1 | set2
print(set4)

{'b', 1, 'a', 2, 3, 'c'}
{'b', 1, 'a', 2, 3, 'c'}

In [461]:
x = {"a", "b", "c"} #set
y = (1, 2, 3) #tuple

z = x.union(y) #will result in a set 
print(z)
'''
Note: 
The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.
'''

#INTERSECTION
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{1, 2, 'a', 3, 'c', 'b'}
{'apple'}
{'apple'}

In [ ]:
#TUPLES
#ORDERED, IMMUATBLE, ALLOWS DUPLICATES

In [1]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [21]:
#For a single item tuple-> add a comma 
tu = ('Prachi')
print(tu)

#Tuple construct 
du = tuple(('Prachi','Megha'))
print(du)

#Access tuples 
print(du[0])
print(thistuple[1:3])

if 'Prachi' in du:
    print('Present')

Prachi
('Prachi', 'Megha')
Prachi
('banana', 'cherry')
Present

In [31]:
#you can change the tuple to a list and then rev it back to a tuple 
list_du = list(du)
print(list_du)

list_du[0] = 'Soro'
print(list_du)

tuple_du = tuple(list_du)
print(tuple_du)

['Prachi', 'Megha']
['Soro', 'Megha']
('Soro', 'Megha')

In [41]:
# Original tuple
my_tuple = (1, 2, 3)

# Adding an element (4) to the tuple
new_tuple = my_tuple + (4,)

print(new_tuple)

(1, 2, 3, 4)

In [51]:
#unpacking a tuple 
fruits = ("apple", "banana", "cherry")
print(fruits)

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

('apple', 'banana', 'cherry')
apple
banana
cherry

In [67]:
#unpacking a tuple when you dont know thw no of elements 
fruits1 = ("apple", "banana", "cherry","kiwi","mango")
fruits2 = ("apple", "banana", "cherry","kiwi","mango")

(green1, yellow1, *red1) = fruits1
(green2, *yellow2, red2) = fruits2

print(green1)
print(yellow1)
print(red1)

print(green2)
print(yellow2)
print(red2)

apple
banana
['cherry', 'kiwi', 'mango']
apple
['banana', 'cherry', 'kiwi']
mango

In [77]:
#loop through tuples : FOR loop
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry

In [79]:
#loop through tuples : WHILE loop
i=0 
while i<len(fruits1):
    print(fruits1[i])
    i = i+1

apple
banana
cherry
kiwi
mango

In [85]:
#join 2 tuples
f1 = ('a','b')
f2 = (1,2)
f3 = f1 +f2
print(f3)

f4 = f1*2
print(f4)

('a', 'b', 1, 2)
('a', 'b', 'a', 'b')

In [89]:
#2 methods for tuple 
'''
1. count()
2.index()
'''

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

2
3

In [97]:
#fstrings 
age = 27 
str = f"I am {age} years old"
str1 =  f"I will be {age+1} next year"
str2 = 'I am a \"girls\" girl'
print(str)
print(str1)
print(str2)

I am 27 years old
I will be 28 next year
I am a "girls" girl